body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

nav {
    background-color: #b59a9a;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 40px;
    text-align: center;
}

.red-title {
    color: red;
}

.blue-italic {
    color: #00aaff;
    font-style: italic;
}

.blue-text {
    color: #00aaff;
}

.full-screen-bg {
    background-image: url('/static/карась.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.nav-center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-center a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #741111;
    transition: color 0.3s ease;
}

.nav-center a:hover {
    color: #007BFF;
}
