<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Центрированная навигация -->
    <nav class="nav-center">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/contacts">Contacts</a>
    </nav>

    <div class="container">
        <h1 class="red-title">ДОМ КАРАСЯ</h1>
        <p class="blue-italic">
            Добро пожаловать в ресторан "Карася" — место, где вкусно,
            весело и никто не уйдёт голодным… даже если очень постарается!<br><br>

            Здесь у плиты правят три гастрономических волшебника:<br><br>

            Дима — мастер первых блюд. Его уха — это не просто суп, а гастрономическая поэма с нотками любви<br><br>

            Саша — гуру рыбных дел. Его стейк из лосося умеет таять не только во рту, но и в сердцах.<br><br>

            Женя — шеф по десертам. После его чизкейка люди становятся добрее.<br><br>

            Вместе они не просто повара, а настоящие карасики-кулинары, способные накормить 
            кого угодно — от случайного туриста до капризной тёщи. 
            Заходите в "Дом Карася" — тут вкусно, как дома, только посуду мыть не надо!
        </p>

        <img src="{{ url_for('static', filename='ресторан.jpg') }}" alt="Ресторан Три Карася" class="restaurant-photo">           
    </div>
</body>
</html>
